
# Modified from http://packages.ubuntu.com/saucy/zookeeperd
export NAME=zookeeper
export ZOOCFGDIR={{ zookeeper.conf_dir }}
export ZOODIR={{ zookeeper.install_dir }}

export CLASSPATH="$ZOOCFGDIR:$ZOODIR/zookeeper-{{ zookeeper.version }}.jar:{{ zookeeper.classpath | default('$ZOODIR/lib/*') }}"

export ZOOCFG="$ZOOCFGDIR/zoo.cfg"
export ZOO_LOG_DIR={{ zookeeper.log_dir }}
export USER=$NAME
export GROUP=$NAME
export PIDDIR=/var/run/$NAME
export PIDFILE=$PIDDIR/$NAME.pid
export SCRIPTNAME=/etc/init.d/$NAME
export JAVA=/usr/bin/java
export ZOOMAIN="org.apache.zookeeper.server.quorum.QuorumPeerMain"
export ZOO_LOG4J_PROP="INFO,ROLLINGFILE"
export JMXLOCALONLY=false
export JAVA_OPTS="{{ zookeeper.java_opts | default() }}"
