{%- if (zookeeper.id is defined) and (zookeeper.hosts|length == 1) -%}
{{ zookeeper.id }}
{%- else -%}
{% if metavars is defined  %}
{{ metavars[inventory_groups.zookeeper][ec2_tag_Name]['zoo_id'] }}
{% else %}
{% for url in zookeeper.hosts %}
{%- set url_host = url.split(':')[0] -%}
{%- if url_host in ansible_all_ipv4_addresses -%}
{{ loop.index0 + 1 }}
{% endif %}
{% endfor %}
{% endif %}
{%- endif -%}
